
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}


body {
    background-color: #0f0f0f;
    color: #ffffff;
    line-height: 1.6;
}


.main-content {
    text-align: center;
    margin: 50px auto;
    max-width: 1200px;
}

.main-content h1 {
    font-size: 2.5rem;
    color: #9a6df0;
    margin-bottom: 20px;
}

.main-content p {
    font-size: 1.2rem;
    margin-bottom: 30px;
    color: #cccccc;
}

/* Card Container */
.card-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    justify-items: center;
    padding: 2rem 0;
}


.card {
    background-color: #1a1a1a;
    border-radius: 10px;
    text-align: center;
    overflow: hidden;
    width: 100%;
    max-width: 350px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 20px rgba(146, 85, 225, 0.5);
}

.card img {
    width: 100%;
    height: auto;
    border-bottom: 3px solid #9a6df0;
}

.card h3 {
    font-size: 1.5rem;
    color: #9a6df0;
    margin: 10px 0;
}

.card p {
    font-size: 1rem;
    color: #cccccc;
    margin-bottom: 15px;
}


@media (max-width: 768px) {
    .card-container {
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    }
}

@media (max-width: 480px) {
    .card-container {
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    }
}
